.card {
  margin: 5px;
  width: 225px;
  min-height: 80px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  border-left: 3px solid #216bf3;
  overflow-y: auto;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 10px auto;
}

.cardTitle {
  word-break: break-all;
}

.hrLine {
  height: 1px;
  background: #000;
  margin: 5px 0;
}