/* FLex Assets*/

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dInflex {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.flexwrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexcolumn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flexrow {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flexrowreverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flexcolumnreverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flexgrow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}

.flexshrink {
  flex-shrink: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
}

.flexbasis {
  flex-basis: 0%;
  -webkit-flex-basis: 0%;
  -moz-flex-basis: 0%;
  -ms-flex-basis: 0%;
}

.alignVertical {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.alignFstart {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.alignFend {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.alignHorizontal {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.alignAround {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.alignBetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justifyFend {
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

/*Flex End*/

.h100 {
  height: 100%;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.margin10 {
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.userImg {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.marginLR20 {
  margin: 0 20px;
}

.marginR20 {
  margin-right: 20px;
}

.headerMenu a {
  text-decoration: none;
  color: #999;
  margin-right: 20px;
}

.headerMenu a:hover {
  color: #000;
}

.marginTB5 {
  margin: 5px 0;
}

.marginR10 {
  margin-right: 10px;
}